%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title Wolfram Alpha Streaming for Google Chrome and Google Wave
    %link{ rel: 'stylesheet', href: '/public/css/style.css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Reenie+Beanie', rel: 'stylesheet', type: 'text/css' }
    %script{ src: 'http://js.pusherapp.com/1.4/pusher.min.js' }
    %script{ src: '/public/js/jquery-1.4.2.min.js' }
  %body{ bgcolor: '#3d3d3d' }
    %center
      %font{ color: 'white' } Alpha
      %font{ color: 'red' } Streaming
      != body
      #content
    %p{ style: 'color: #55FF55; font-family: Reenie Beanie, arial, serif; font-size:28px' } hosted on Rackspace
